@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ---------root para bg de las notas----------:
rosa #F7C8E0
amarillo #FFF6BD
celeste #B4E4FF
verde #B5F1CC */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*SCROLL*/
::-webkit-scrollbar{
  background-color: #fff;
  width: 7px;
  cursor: none;
}
::-webkit-scrollbar-thumb{
   background: linear-gradient(#134e4a, #059669);
}
/*SCROLL*/
.container--custom{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login--container{
  background-image: url("./assets/backgrounds/bg-loginContainer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login--component{
  max-width: 850px;
}
.login--component__form,
.regiter--component__form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.login--component__form form,
.regiter--component__form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toRegisterClass,
.toLoginClass{
  background-image: url("./assets/backgrounds/bg-loginToRegister.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 640px) {
    .toRegisterClass{
      border-bottom-left-radius: 0;
    }
    .toLoginClass{
      border-bottom-right-radius: 0;
    }
    .regiter--component__form{
      border-top-left-radius: 0;
    }
    .login--component__form{
      border-top-right-radius: 0;
    }
    .container--custom{
      height: 100vh;
    }
}

.input--class{
  width: 250px;
  padding: 0.8rem;
}

.home{
  background-image: url('./assets/backgrounds/bg-home.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.notes--container{
  background-image: url('./assets/backgrounds/bg-myNotes.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.class-button {
  --primary-color: #047857;
  --secondary-color: #fff;
  --hover-color: #064e3b;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.5rem;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.class-button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.class-button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.class-button:hover {
  background-color: var(--hover-color);
}

.class-button:hover .arrow {
  background: var(--secondary-color);
}

.class-button:hover .arrow:before {
  right: 0;
}